'.source.js':
  'ngModule':
    'prefix': 'ngmodule'
    'body': """
      var angular = require('angular');

      module.exports = angular
          .module('${1:module}', [
              '${2:dependencies}'
          ]);
    """
